<div class="thank-you-container">
    <h1 class="thank-you-heading">Thank You for Adopting a Pet</h1>
    <p class="thank-you-message">
      We appreciate your decision to give a loving home to a pet in need.
      You've made a positive impact on a furry friend's life!
    </p>
    <a href="<%= root_path %>" class="back-to-home-link">Back to Home</a>
  </div>

<h2>Adopted Pets</h2>
<ul>
  <% @pet_adoptions.each do |pet_adoption| %>
    <li>
      <% if pet_adoption.pet.present? %>
        <%= pet_adoption.pet.name %>
      <% else %>
        Pet information not available
      <% end %>
    </li>
  <% end %>
</ul>
