
<h2>Your Adoption Requests:</h2>
<ul>
  <% current_user.pet_adoptions.each do |adoption| %>
    <li>
      <%= adoption.pet.name %>
      <%= link_to 'Delete', adoption, method: :delete, data: { confirm: 'Are you sure you want to delete this request?' }, class: 'btn btn-danger' %>
    </li>
  <% end %>
</ul>
