  <div class="thank-you-container">
    <h1 class="thank-you-heading">Thank You for Your Adoption Request</h1>
    <p class="thank-you-message">
      Your adoption request has been submitted successfully. We appreciate your interest in adopting a pet!
    </p>
    <a href="<%= root_path %>" class="back-to-home-link btn-primary">Return to Homepage</a>
  </div>
