
<!-- app/views/pet_adoptions/thank_you.html.erb -->
<h1>Thank You for Your Adoption Request</h1>
<p>Your adoption request has been submitted successfully. We appreciate your interest in adopting a pet!</p>
<%= link_to "Return to Homepage", root_path, class: "btn-primary" %>
