.centered-form {
  width: 27%;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 23px 0;
  font-size: 18px;
  color: #f0e9e9;
  left      : 50%;
  top       : 63%;
  position  : absolute;
  transform : translate(-50%, -50%);

}


.centered-form h2 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.centered-form .form-field {
  margin-bottom: 10px;
  text-align: left;
}

.centered-form label {
  font-weight: bold;
  display: block;
}

.centered-form input[type="text"],
.centered-form input[type="number"],
.centered-form textarea,
.centered-form input[type="date"],
.centered-form input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.centered-form .form-actions {
  margin-top: 20px;
}

.btn-primary {
  background-color: green;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
