* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}

.centered-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('https://wallpaperset.com/w/full/d/6/c/289442.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  padding: 0;
}

.centered-form {
  width: 40%;
  padding: 30px;
  border: 2px solid #b7bec3;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.442);
  background-color: rgba(247, 247, 247, 0.252);
  text-align: center;
  font-size: larger;

  h2 {
    font-size: 41px;
    color: rgba(3, 27, 1, 0.755);
    margin-bottom: 10px;
    font-weight: bold;
  }

  .form-field {
    // margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    label {
      font-weight: bold;
      display: block; /* Display the label as a block element */
      text-align: left;
      margin-bottom: 5px;
    }

    input[type="text"],
    input[type="number"],
    textarea,
    input[type="date"],
    input[type="file"] {
      width: 100%; /* Set the width to 100% for full width */
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      display: block; /* Display the input as a block element */
      margin-bottom: 5px;
    }
  }

  .form-actions {
    display: flex;
    justify-content: center; /* Align form actions to the center */
    margin-top: 10px;

    .btn-primary {
      background-color: green;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
