
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {

  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;

}

.navbar {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;

}

.para-container {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://img.freepik.com/premium-photo/dog-black-background_849906-2.jpg?w=1060');
  padding: 100px;
  border-radius: 10px;
  margin-bottom: 4rem;
  text-align: left;
  background-repeat: no-repeat;
  background-size: cover;

  .nav-link {
    margin: 0;
  }
}




.welcome-msg {
  font-size: 24px;
  text-align: center;
  margin: 20px 0;
}


.table-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;


  h1 {
    text-align: center;
    font-size: 60px;
    margin: 20px 0;
    color: white;
  }
}


.pet-card {

  background-size: cover;
  background-position: center;
  border: 1px solid #ddd;
  border-radius: 18px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  width: 300px;
  text-align: center;
  color: #000000 !important;

  h2 {
    font-size: 68px;
    margin: 10px 0;
    color: #000000;
  }

  p {
    margin: 10px 0;
    color: #000000;
  }
}


.placeholder-image {
  font-size: 14px;
  color: #777;
}


.pet-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out;
}

.welcome-msg {
  font-family: 'Miltonian Tattoo', serif;
  font-family: 'Shadows Into Light', cursive;
  font-size: 77px;
  color: rgb(50, 45, 45);
  position: absolute;
  top: 720px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pet-card img {
  border-radius: 9px;
}
p{
  font-family: 'Ubuntu', sans-serif;
  color:rgb(255, 255, 255);
}
h2{
  font-size:77px;
  color:rgba(125, 152, 170, 0.782);
}
.navbar{
  color:white;
}
