.navbar-lewagon {
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.066);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 400px;
}
.navbar {
  background-image: url("https://i.ibb.co/1Lf5Xsb/Full-Logo-Transparent.png") ;
  // background-image: url("");
  background-size: 320px;
  background-repeat: no-repeat;
  background-position: left;
  height: 180px;
  box-shadow: 0px 9px 3px rgba(0, 0, 0, 0.4);
}



.nav-link{
  padding: 10px 20px;
  margin: 11px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: green;
  transition: background-color 0.3s;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0px 9px 3px rgba(0, 0, 0, 0.4);
}

.nav-link:hover {
  background-color: grey;
}
