// .container {
//   margin :18%;
//   width: 23%;



// }

// h1 {
//   text-align: center;
//   padding-right: 54%;
//   margin:2%;
//   font-family: 'Aclonica', sans-serif;
//   font-size: 10px;
//   color:white;
// }
// h3 {  text-align: center;
//   padding-right: 5%;
//   margin:28%;
//   font-family: 'Aclonica', sans-serif;
//   font-size: 45px;
//   color:white;
//   }



.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


form {
  display: flex;
  flex-direction: column;
}


.form-control {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.btn-primary {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}


.text-center {
  text-align: center;
}

h1 {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
}
