.container {
  float: right;
  margin-right: 9%;
  width: 23%;


}

h1 {
  text-align: center;
  padding-right: 54%;
  margin:2%;
  font-family: 'Aclonica', sans-serif;
  font-size: 54px;
  color:white;
}
h3 {  text-align: center;
  padding-right: 5%;
  margin:28%;
  font-family: 'Aclonica', sans-serif;
  font-size: 45px;
  color:white;
  }
