/* Reset some default styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin: 20px 0;
}

.user-profile-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
}

.profile-photo {
  max-width: 150px;
  height: auto;
  border-radius: 50%;
}

.default-profile-photo {
  background-color: #ddd;
  color: #555;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  line-height: 150px;
  font-size: 24px;
}

.pet-photo img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin: 20px 0;
}

.user-profile-details {
  margin: 20px 0;
}

.pet-details p {
  font-size: 18px;
  margin: 10px 0;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: #4CAF50;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

/* Style links */
a {
  color: #007BFF;
  text-decoration: none;
}
