.profile-container {
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  background: rgb(98, 94, 94);
  border-radius: 10px;
  margin: 10px auto;
  margin-top: 3rem;
  padding: 10px;
}

.profile-photo {
  flex: 1;
  padding: 20px;
}

// .profile-details {
//   flex: 2;
//   padding: 20px;
//   color: black;
// }

// .profile-details h1 {
//   font-size: 24px;
// }

// .label {
//   color: black;
//   font-weight: bold;
// }

// .detail {
//   color: black;
// }
